}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}



.content {
    padding: 20px;
}

.cebu {
    font-size: 30px;
    
    
}
.cebu a:link {
    color: red;
}

.cebu a:visited{
    color: green;
}

.cebu a:hover {
    color: hotpink;
}

.cebu a:active {
    color: blue;
}
    
   .batanes {
    font-size: 30px;
    
    
}
.batanes  a:link {
    color: red;
}

.batanes  a:visited{
    color: green;
}

.batanes a:hover {
    color: hotpink;
}

.batanes  a:active {
    color: blue;
} 
    
   .siargao {
    font-size: 30px;
    
    
}
.siargao  a:link {
    color: red;
}

.siargao  a:visited{
    color: green;
}

.siargao a:hover {
    color: hotpink;
}

.siargao  a:active {
    color: blue;
} 
